.fit-img {
    max-width: 100%;
    max-height: 100%;
}
.center-text {
    text-align: center;
}
.accept-text {
    text-align: center;
    margin-top: 35px;
}

.error_block p{
    text-align: center;
    margin-top: 100px;
    font-size: 1.7em;
}

hr {
    border: 0px;
    height: 2px;
    background-color: white;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.65)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
}
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #e2dfd7;
    font-family: Roboto, Arial, sans-serif;
}
.inline {
    display: inline;
}
button {
    border: none;
    font-family: Roboto, Arial, sans-serif;
}
input {
    margin: 2px;
    min-height: 18px;
    display: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: #EBEAE6;
    border-color: #b0a08a;
}
.article {
    padding-bottom: 15px;
}
.article-header {
    padding-bottom: 4px;
}
.article-title {
    color: #dec99ee6;
}
.article-date {
    color: #dec99ee6;
    float: right;
}
.container {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .container {
        min-width: 740px;
        max-width: 900px;
        margin: 20px auto;
    }
}
.background-container {
    width: 100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100%;
    position: relative;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 40px;
    background-color: #2e231d;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #b0a08a;
}
.menu {
    background-color: #2e231d;
}
.banners {
    float: left;
    margin-top: 10px;
}
.banners * {
    display: block;
    color: black;
    margin: 1px;
}
.content {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 20px auto;
    padding: 5px 15px;
    background-color: #2e231d;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #b0a08a;
    height: 640px;
}
@media only screen and (min-width: 768px) {
    .content {
        overflow-y: auto;
        overflow-x: hidden;
        margin: 20px auto;
        border-radius: 5px;
        height: 740px;
    }
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    margin: 2px 5px;
}
button {
    margin: 5px;
    display: inline;
    color: #e2dfd7;
    width: 135px;
    height: 31px;
    text-align: center;
    background-image: url(../img/button.png);
}
.g-recaptcha {
    margin: 15px auto;
    width: 43%;
}
.server-status {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #2e231d;
    border-style: round;
    border-width: 1px 1px 1px 1px;
    border-color: #b0a08a;
    border-radius: 5px;
}
.border-pane {
    max-width: 180px;
    padding: 6px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e2dfd7;
    border-radius: 5px;
    margin: 0px auto;
    text-align: center;
}
.border-pane input {
    margin: 5px;
}
.border-pane label {
    margin: 5px;
}
.border-pane .row {
    margin: 3px 0px;
}
.border-pane input {
    margin: 0px auto;
}
.lang-menu {
    display: inline;
    margin: 2px 12px;
    float: left;
}
.lang-item {
    width: 60px;
    height: 35px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    color: #dec99ee6;
}
p {
    color: #e2dfd7;
}
.article-content {
    color: #e2dfd7;
}
pre {
    color: #e2dfd7;
}
li {
    color: #e2dfd7;
}
.menu-item {
    color: #e2dfd7;
    display: inline-block;
    width: 135px;
    height: 31px;
    text-align: center;
    background-image: url(../img/button.png);
}
.menu-item.active {
    background-image: url(../img/active_button.png);
}
.flash-box li {
    text-align: center;
    color: red;
}
.messages-box li {
    text-align: center;
    color: #5cce2f;
}

.navigation-menu {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
a {
    color: #e2dfd7;
    font-weight: bold;
}
.account-menu {
    margin: auto auto;
    text-align: center;
}
.account-menu-separator {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.account-menu-item {
    display: inline-block;
    text-decoration: none;
}
.account-menu-item.active {
    text-decoration: underline;
    text-decoration-color: #dec99ee6;
}
.offline-traders-count {
    color: grey;
}
.max-online-count {
    color: red;
}

.accounts-misc {
    padding: 0;
    margin: 0px auto;
    font-size: 14px;
}

.accounts-misc p {
    line-height: 5px;
}

.accounts-misc a {
    color: #9C0000;
    line-height: 5px;
}